# Copyright (c) Datalayer https://datalayer.io.
# Distributed under the terms of the Apache License, Version 2.0.

# Check with git check-ignore -v **/*

# Exclude.
**/__tmp/*
**/_book/*
**/_state/*
**/_secrets/*
**/_tmp/*
**/_ui/*
**/_vendor*/*
**/.*
**/*.bundle.*
**/*.bin
**/*.bz2
**/*.crt
**/*.dat
**/*.egg-info
**/*.epub
**/*.gz
**/*.iml
**/*.jar
**/*.key
**/*.lock
**/*.log
**/*.log*
**/*.mobi
**/*.model
**/*.pdf
**/*.pid
**/*.pyc
**/*.scss.ts
**/*.sqlite
**/*.tgz
**/*.zip
**/__pycache__
**/__snapshots__
**/_gen
**/bin/*
**/bower_components/*
**/build/*
**/coverage/*
**/dist/*
**/gen
**/gin-bin
**/files.txt
**/lib
**/node_modules
**/output/*
**/package-lock.json
**/repos/*/
**/shrinkwrap.yaml
**/target/*
**/temp/*
**/tmp/*
**/yarn-metadata.json
**/yarn.lock
apps/kuber/kuber
blog/public
lab/apps/styleguidist/styleguide/
opt/*/
opt/spark*
srv/certs/*
srv/jupyterhub/*
var/*/*

# Include.
!**/.*ignore
!**/.*rc
!**/.github
!.env
!.gitattributes
!.vscode
!lab/apps/medias/output/README.md
!bin/build
!bin/clean
!bin/dla
!bin/install
!bin/start
!bin/start-80
!dist/README.md
!opt/README.md
!repos/README.md
!srv/**/README.md
!var/**/README.md

# Re-Exclude if needed...
**/_book/*
